[user]
	name = jamesjtong
	email = jtong33@gmail.com
[init]
	templatedir = ~/.git_template
[core]
	excludesfile = /Users/jtong/.gitignore
[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  type = cat-file -t
  dump = cat-file -p
  prev = checkout HEAD^1
  next = "!sh -c 'git log --reverse --pretty=%H master | awk \"/$(git rev-parse HEAD)/{getline;print}\" | xargs git checkout'"
